caption {
    padding: 0.5ch;
    color: whitesmoke;
    font-size: large;
    background-image: linear-gradient(to right, blue, purple, violet);
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
}

.icon-table {
    vertical-align: text-top;
    width: 1rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 1ch;
    border-bottom-right-radius: 1ch;

}

tr:last-child td:first-child {
    border-bottom-left-radius: 1ch;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 1ch;
}

body {
    margin: 1px;
    background-color: black;
}

td,
th {
    border: 1px solid;
    padding: 0.5rem;
    border-color: cadetblue;
}


tbody tr:nth-child(odd) {
    background-color: #E1F5FE;
}


.data-type {
    font-style: italic;
    color: grey;
}

.content {
    display: flex;
    min-width: 98vw;
}

.content .side-menu {
    float: left;
    max-width: 20vw;
    min-width: 20vw;
    max-height: 98vh;
    align-items: center;
    margin-top: 5ch;
}

.content .side-menu .menu-button {
    align-items: center;
}

.content .side-menu .menu-button span {
    font-size: large;
    color: white;
}

.content .side-menu a {
    text-decoration: none;
    background-image: radial-gradient(blue, rgb(185, 8, 185));
    padding: 1ch;
    margin: 1ch;
    border-radius: 5px;
    min-width: 21ch;
}

.content .side-menu div {
    display: flex;
    max-height: inherit;
    justify-content: center
}

.menu-title {
    font-size: x-large;
    color: snow;
    padding: 2ch;
    padding-bottom: 0ch;
}

.content .table-view {
    float: right;
    min-width: 78vw;
    max-width: 78vw;
    max-height: 98vh;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
1° solution for fixed table header 
.content .table-view .reason {
    max-height: 68vh;
    overflow: auto;
}

.reason th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
*/

.reason table caption {
    width: 233px;
}

.reason table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.reason table thead {
    display: table;
    table-layout: fixed;
}


.reason table tbody tr {
    display: table;
    table-layout: fixed;
}

.reason table td:nth-child(1),
th:nth-child(1) {
    width: 50px;
}

.reason table td:nth-child(2),
th:nth-child(2) {
    width: 140px;
}

.with-fix-header {
    font-size: x-small;
    color: black;
}